body{
	background-image: imagen/fondo.jpg;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
	h2{

	color: olivedrab;
	font-size:xx-large;
}
p{
	color: blue;
	font-size:medium;
}
.menu ul,li{
	list-style:nule;
	padding: 10px;
	display: inline-block;
	background-color: orangered;
	}
.menu ul,li,a{
	color: blue;
	text-decoration: none;
	}
	.menu ul,li:hover {
	background-color: black;
}