body{
	background-image: imagen/tecno.jpg;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
h2{

	color: gold;
	font-size:xx-large;
}
p{
	color: orange;
	font-size:xx-large;
}
.menu ul,li{
	list-style:nule;
	padding: 10px;
	display: inline-block;
	background-color:blueviolet;
	}
.menu ul,li,a{
	color: brown;
	text-decoration: none;
	}
	.menu ul,li:hover {
	background-color: whitesmoke;
}